
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bitcoin Dashboard</title>

    <!-- Open Sans - Google Font -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'> -->

    <link rel='stylesheet' id='googleFonts-css'  href='https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C700italic%2C300%2C400%2C600%2C700' type='text/css' media='all' />
    <link rel='stylesheet' id='dnb-design-stylesheet-css'  href='https://productdesign.dnb.com/wp-content/themes/dnb-product-style-guide/library/dnb-product-design-guide/css/dnb-product-design-guide.css' type='text/css' media='all' />
    <link rel='stylesheet' id='local-css'  href='./styles.css' type='text/css' media='all' />

    <script src="https://unpkg.com/vue"></script>
    <link rel="shortcut icon" href="https://productdesign.dnb.com/wp-content/themes/dnb-product-style-guide/favicon.ico">
  </head>

  <body data-rsssl=1 class="header-fixed" role="document">
  <div id="app">
    <div id="mainNav" class="navbar navbar-default navbar-page-header dnb-global-header" role="banner" itemscope="" itemtype="http://schema.org/WPHeader">
      <div class="container">
        <div id="inner-header" class="navbar-header">
          <a href="/" class="navbar-brand">
            <span class="blog-title">{{ appTitle }}</span>
          </a>
        </div>
      </div>
    </div>
    <main role="main">
      <div class="container-fluid page-wrapper">
        <div class="row">
          <div id="" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="panel panel-table">
              <div class="panel-heading">
                <div class="panel-title">
                  <h3>{{ currencyTableTitle }}
                  </h3>
                  <div class="panel-title-meta">
                    <transition name="fade">
                      <span class="last-fetched" v-if="!nowFetching">{{ lastFetched }}</span>
                    </transition>
                    <button id="refresh" title="Refresh Currency Data" v-bind:disabled="nowFetching" class="btn btn-sm btn-default" v-on:click="refreshPrices">{{ refreshButtonText }}</button>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <datatable class="dataTable no-footer" :columns="columns" :data="rows">
                  <template scope="{ row }">
                    <tr>
                      <td :title="columns[0].label">{{ row.currencyName + ' (' + row.symbol + ')' }}</td>
                      <td :title="columns[1].label">{{ row.symbol + formatCurrencyAsString(row.sell) }}</td>
                      <td :title="columns[2].label">{{ row.symbol + formatCurrencyAsString(row.buy) }}</td>
                      <td :title="columns[3].label">{{ row.symbol + formatCurrencyAsString(row.last) }}</td>
                    </tr>
                  </template>

                </datatable>
              </div>
              <div class="panel-footer">
                <img class="fill-murray" v-bind:src="fill" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="dnb-global-footer dnb-global-footer-product col-xs-12">
      <div class="product-name">
        <img src="https://productdesign.dnb.com/wp-content/themes/dnb-product-style-guide/library/dnb-product-design-guide/img/dnb_full_logo.png">
        <span class="prod-name">{{ appTitle }}</span>
      </div>
      <div class="company-info">
        <ul class="legal">
          <li class="copyright">© Dun &amp; Bradstreet, Inc. 2017. All Rights Reserved.</li>
            <li><a href="http://www.dnb.com/privacy-policy.html" target="_blank">Privacy Policy</a></li>
            <li><a href="http://www.dnb.com/terms-of-use.html" target="_blank">Terms </a></li>
        </ul>
      </div>
    </footer>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://productdesign.dnb.com/wp-content/themes/dnb-product-style-guide/library/dnb-product-design-guide/js/dnb-product-design-guide.js"></script>
  <!-- Datatables -->
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/505bef35b56/integration/bootstrap/3/dataTables.bootstrap.js"></script>

  <script src="https://productdesign.dnb.com/wp-content/themes/dnb-product-style-guide/demo/demo.js"></script>

  <script type="text/javascript" src="./vuejs-datatable.js"></script>
  <script type="text/javascript" src="./scripts.js"></script>


  </body>
</html>
