

.navbar-brand .blog-title {
  margin-left: 10px;
}

/* since this is no longer on the h3 element for the panel */
.panel-title .last-fetched {
  text-transform: none;
  font-size:  11px;
  font-weight: normal;
  font-style: italic;
  color: #728d96;
}
#refresh {
  margin: 0 5px;
}

.panel-title-meta {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
}
.panel-title {
  position: relative;
  padding-right: 17em;
}

.panel-title h3 {
  margin: 0;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 768px) {

.table > tbody > tr {
  transition: background-color, .25s;
  background-color: #fff;
}

/* I really can't see this gray on my retina macbook pro, I fear it must be too light for many users with worse screens or eyesight */
.table > tbody > tr:nth-of-type(even) {
  background-color: #D5DEE3;
}
.table > tbody > tr:nth-of-type(even):hover {
  background-color: #b1c7ce; /* not a brand color, check with designers */
}
}


@media only screen and (max-width: 767px) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
    border-width: 0;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.table > tbody > tr {
    border-bottom: 3px solid #d7e0e4;
    padding-top: 20px;
    padding-bottom: 30px;
  }
	.table > tbody > tr:last-child {
    border-bottom-width: 0;
  }

	.table > tbody > tr:hover {
    background-color: #fff;
  }


	.table > tbody > tr > td {
		position: relative;
		padding-left: 50%;
	}
	td:before {
    position: absolute;
    left: 0;
    font-weight: 600;
    line-height: 1.5;
    padding-left: 15px;
	}
	td:before { content: attr(title); }

}


.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
  transition-delay: .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

.fill-murray {
  width: 100%;
  display: none;

}
@media screen and (min-width: 800px) {
  .fill-murray {
    display: block;
  }
}
